.home-container {
  padding: 1rem 4rem;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: -2rem;
}
.nav-izq {
  display: flex;
  align-items: center;
  gap: 0.4em;
}
.nav-izq h1 {
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase;
}
.nav-izq img {
  width: 20%;
  border-radius: 10rem;
  box-shadow: 1px 1px 10px #000;
}
.nav-der {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.social-icon {
  font-size: 1.5em;
}
.ig,
.wp {
  color: #e2aa3d;
}

.nav-der p {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.body {
  padding: 1rem;
}
.main-container {
  background-color: rgba(250, 250, 250, 0.25);
  padding: 1em;
  display: grid;
  grid-template-columns: 5fr 1fr;
  box-shadow: 1px 1px 10px #24262e;
  border-radius: 1rem;
}
