.cardContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #000;
}
.cardContainer img {
  width: 15%;
}
.nombre {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.precios {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  align-items: flex-start;
}
.precios p {
  margin: 0;
}
