.container ol {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0.4em 0;
}
.container:nth-child(even) {
  background-color: #dcac4c90;
}
.burgersCont ol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
