.container ol {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 0.4em 0;
}
ul {
  text-align: start;
  text-transform: capitalize;
}
.container:nth-child(even) {
  background-color: #dcac4c90;
}
.burgersCont {
  padding: 0;
}
.burgersCont ol {
  display: grid;
  grid-template-columns: 1fr;
  text-align: start;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
