.landing-mainContainer {
  margin: 0;
  height: 100vh;
  background-image: url("../../images/fondoBurger.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-container-landing {
  width: 30vw;
  background-color: #000;
  border-radius: 3rem;
}
.img-container-landing img {
  width: 8vw;
  border-radius: 1em;
}
.cards-Container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 2fr);
  gap: 1rem;
  padding: 1rem 15rem;
  /* background-color: rgba(0,0,0,.5); */
}

.link-style {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 0;
  margin: 0;
}

.cardLanding {
  box-shadow: 1px 1px 10px #000;
  border-radius: 1em;
  background-color: #e2ab3dc4;
  transition: background 0.3s;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1em;
}

.cardLanding:hover {
  background-color: #e2ab3d;
}
.cardLanding:hover .icon-cardLanding {
  color: #83611e;
}

.icon-cardLanding {
  height: 4rem;
  color: #fff;
  transition: all 0.3s;
}
.cardLanding p {
  margin: 0;
}
.cardLanding span {
  font-size: 1.2rem;
  font-weight: 200;
  color: #fff;
}

/* -------------CALSES PARA LOS EFECTOS-------------  */
.scale-in-hor-left {
  -webkit-animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.puff-in-hor {
  -webkit-animation: puff-in-hor 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s
    both;
  animation: puff-in-hor 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s both;
}

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 2.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s both;
  animation: swing-in-top-fwd 2.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s
    both;
}
/* ------------- KEYFRAMES PARA LOS EFECTOS -------------------*/
@-webkit-keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

@-webkit-keyframes puff-in-hor {
  0% {
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-hor {
  0% {
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-3 17:37:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
