.client-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.2fr 0.2fr 0.2fr;
}

.clientData {
  padding: 0.3em 1em;
  font-family: "roboto Condensed";
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  background-color: #3b3c4b;
  border: unset;
  outline: none;
}

option {
  background-color: RGBA(0, 0, 0, 0.75);
}
.btn-check {
  border: unset;
}
.userCheck{
  margin:  0 3px;
  font-size: 2rem;
  transition: all .3s;
}